APP_ENV=local # production

BOT_API_KEY=
BOT_USERNAME=
ADMIN_CHAT_ID=
SUPPORT_USERNAME=

DB_HOST=localhost
DB_USER=homestead
DB_PASSWORD=secret
DB_NAME=homestead
DB_PORT=54329
DB_SSL_MODE=prefer
DB_TIMEZONE=UTC

SENTRY_DSN=
